body {
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
}

#overlay {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
    color: white;
    font-family: 'Open Sans', sans-serif;
    pointer-events: none; /* Allows clicking through the empty space */
}

#overlay h1 {
    margin: 0 0 15px 0;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
    pointer-events: auto;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}
